# Dependências do Node
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Arquivos de ambiente
.env

# Diretórios do sistema operacional
.DS_Store
Thumbs.db

# Diretórios temporários
tmp/
temp/

# Diretórios de saída de build
dist/
build/

# Arquivos de cobertura de teste
coverage/

# Arquivos de IDEs
.vscode/
.idea/
*.swp
*.swo

# Outros arquivos temporários
*.tmp
*.temp
