* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --primary-color: rgb(73, 150, 250);
    --secundary-color: #2a24ad;
    --terciary-color: #302f32;
    
}

body {
    display: flex;
    justify-content: center;
}

main {
    background-color: var(--terciary-color);
    width: 90%;
    margin-top: 5rem;
    border-radius: 10px;
    padding: 10px;
}

#container {
    background-color: var(--primary-color);
    min-height: 100px;
    padding: 1rem;
    border-radius: 10px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cityInput {
    width: 300px;
    height: 40px;
    padding: 3px 3px 3px 10px;
    outline: none;
    border-radius: 5px;
    border: none;
    margin-top: 1rem;
}

#infoContainer {
    display: none;
    padding: 3rem 4rem;
    justify-content: space-between;
    margin-top: 2rem;
}

#todayContainer {
    background: linear-gradient(to bottom, var(--secundary-color), rgb(36, 37, 105));
    color: white;
    width: 40%;
    padding: .5rem;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.603);
}

#upperInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

#skyInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & img {
        width: 8rem;
    }
    & p {
        font-weight: bold;
        font-size: 17px;
    }
}

#localInfo {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: 1.3rem;
}

#localTimeContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: .8rem;
}

#localTime {
    font-size: 2rem;
}

#hour {
    font-size: 2rem;
}

#lastUpdate_p {
    font-size: .8rem;
}

#mainInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    gap: 8px;
    & div {
        display: flex;
    }
}

#currentTemp_container {
    font-weight: 700;
    & span {
        font-size: 5rem;
    }
    & p {
        font-size: 2rem;
    }
}

#minAndmax_container {
    gap: 15px;
}

#lowInfo {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
}

.lowInfoCard {
    background-color: rgb(46, 48, 165);
    border: 2px solid rgb(19, 36, 95);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    padding: 10px 8px;
    & > div {
        display: flex;
        align-items: center;
        height: inherit;
        & div {
            display: flex;
            height: 30px;
            align-items: end;
            gap: 1px;
            & span {
                font-size: 2rem;
            }
        }
    }
}


.lowInfoTitle {
    color: rgb(151, 150, 253);
    font-size: 16px;
    font-weight: lighter;
}

#forecastContainer {
    color: white;
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.forecastCard {
    background: linear-gradient(to bottom, var(--secundary-color), rgb(43, 44, 145));
    height: 180px;
    border-radius: 10px;
    padding: 12px 18px;
    display: flex;
    & h4 {
        font-size: 1.2rem;
    }
}

.forecastCard > div > div {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#forecastTempContainer {
    display: flex;
    align-items: start;
    & span {
        font-size: 3rem;
    }
    & p {
        font-size: 1.3rem;
    }
}

#forecastMinAndMax {
    display: flex;
    font-size: 13px;
    gap: 7px;
}