* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --primary-color: rgb(73, 150, 250);
    --secunday-color: #3128d3;
    --terciary-color: #302f32;
    
}

body {
    display: flex;
    justify-content: center;
}

main {
    background-color: var(--terciary-color);
    width: 90%;
    margin-top: 8rem;
    border-radius: 10px;
    padding: 10px;
}

#container {
    background-color: var(--primary-color);
    min-height: 100px;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#cityInput {
    width: 300px;
    height: 40px;
    padding: 3px 3px 3px 10px;
    outline: none;
    border-radius: 5px;
    border: none;
    margin-top: 1rem;
}

#todayContainer {
    display: none;
    background-image: linear-gradient(to bottom, var(--secunday-color), rgb(36, 37, 105));
    color: white;
    width: 90%;
    padding: .5rem;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.603);
}

#upperInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
}

#skyInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & img {
        width: 8rem;
    }
    & p {
        font-weight: bold;
        font-size: 17px;
    }
}

#localInfo {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: 1.3rem;
}

#localTime {
    font-size: 2rem;
}

#hour {
    font-size: 2rem;
}

#lastUpdate_p {
    font-size: .8rem;
}

#mainInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    & div {
        display: flex;
    }
}

#currentTemp_container {
    font-weight: 700;
    & span {
        font-size: 5rem;
    }
    & p {
        font-size: 2rem;
    }
}

#minAndmax_container {
    gap: 15px;
}